html {
    width: 100%;
    height: 100%;
    background-color: #666;
}
table {
  border-collapse: collapse;
}

tr.dep-env {
  background-color: silver;
}

tr.dep-main {
  border: 1px black;
}

td {
  text-align: center
}

.sous-status {
  .service {
    border: 1px solid black;
    border-radius: .7em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #888;
    .cluster {
      background-color: #aaa;
      margin: 0.5em;
      padding: 0.5em;

      display: flex;
      justify-content: space-around;
      align-items: stretch;

      h2 {
        flex: 0 1 10%;
      }

      .reports {
        display: flex;
        flex-flow: column;
        flex: 1 1 auto;
        justify-content: space-around;

        .report {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
}
